.input-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    box-shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
  }
  .my-table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .input-flex input {
    width: 100%;
    padding: 0.5rem;
    border: 0;
  }
  
  .input-flex input:focus {
    outline: none;
  }
  .select-input {
    width: 30%;
    margin-right: 10;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
    border-radius: 0.5rem !important;
    padding: 0.2rem 0.5rem;
  }
  
.select-input > div {
    border: 0px solid #fff !important;
  }
  .table-select{
    display: flex;
    justify-content: space-between ; 
    align-items: center; 
    width: 100%;
    }
    .import-export{
    display: flex;
    justify-content: center;
    }

  @media (max-width: 768px) {
  .main-table-data {
    overflow-x: scroll;
    max-width: 768px;
    width: 100%;
  }
  .table-select{
    flex-direction: column;
width: 100%;
  }
  .import-export{
   flex-direction: row;
    justify-content: space-between;
    gap:2rem;
}
  }